<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{view.certificates.certificates}">Certificates</title>
</head>
<body>
    <h1 th:text="#{view.certificates.certificates_info}"></h1>
    <table>
        <thead>
            <tr>
                <th th:text="#{certificate.name}"></th>
                <th th:text="#{certificate.price}"></th>
                <th th:text="#{certificate.creation_date}"></th>
                <th th:text="#{certificate.duration}"></th>
            </tr>
        </thead>
        <tbody>
            <tr th:each="certificate : ${certificates}">
                <td>
                    <a th:href="@{certificates/{id}(id = ${certificate.getId()})}"
                       th:text="${certificate.getName()}"></a>
                </td>
                <td th:text="${certificate.getPrice()}"></td>
                <td th:text="${{certificate.getCreateDate()}}"></td>
                <td th:text="${certificate.getDuration()}"></td>
            </tr>
        </tbody>
    </table>
    <a th:href="@{/}" th:text="Home"></a>
</body>
</html>