<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="${certificate.getName()}"></title>
</head>
<body>
<h1 th:text="#{view.certificates.certificate_info}"></h1>
<table>
    <thead>
    <tr>
        <th th:text="#{certificate.name}"></th>
        <th th:text="#{certificate.description}"></th>
        <th th:text="#{certificate.price}"></th>
        <th th:text="#{certificate.creation_date}"></th>
        <th th:text="#{certificate.latest_update_date}"></th>
        <th th:text="#{certificate.duration}"></th>
    </tr>
    </thead>
    <tbody>
    <tr>
        <td th:text="${certificate.getName()}"></td>
        <td th:text="${certificate.getDescription()}"></td>
        <td th:text="${certificate.getPrice()}"></td>
        <td th:text="${{certificate.getCreateDate()}}"></td>
        <td th:text="${{certificate.getLastUpdateDate()}}"></td>
        <td th:text="${certificate.getDuration()}"></td>
    </tr>
    </tbody>
</table>
<table>
    <tr>
        <td th:each="tag : ${certificate.getTags()}" >
            <a th:href="@{/tags/{id}(id = ${tag.getId()})}" th:text="'#'+${tag.getName()}"></a>
        </td>
    </tr>
</table>
<hr/>
<form th:method="DELETE" th:action="@{/certificates/{id}(id=${certificate.getId()})}">
    <input type="submit" th:value="#{view.delete}"/>
</form>
<a th:href="@{/certificates/{id}/edit(id = ${certificate.getId()})}" th:text="#{view.edit}"></a>
<a th:href="@{/}" th:text="#{view.home}"></a>
</body>
</html>