<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" lang="en">
<head>
    <meta charset="UTF-8">
    <title th:text="#{view.tags.new_tag}"></title>
</head>
<body>
    <h1 th:text="#{view.tags.create_tag}"></h1>
    <form th:method="POST" th:action="@{/tags}" th:object="${tag}">
        <label for="name" th:text="#{view.tags.enter_name}"></label>
        <input type="text" th:field="*{name}" id="name"/>
        <br/>
        <input type="submit" th:value="#{view.create}">
    </form>
    <a th:href="@{/}" th:text="#{view.home}"></a>
</body>
</html>